body{
  background: url(https://media.giphy.com/media/xT0xeB1qmLLqVgJwFq/giphy.gif)no-repeat center center fixed;
  background-size: cover;
}
h1{
  color: yellow
}
li{
  color:yellow

}
p{
  color:yellow;
}
