h3 {
  color:black;
}
body {
  background:  url(h3 {
  color:black;
}
body {
  background:  url(https://media.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif) no-repeat center center fixed;
  background-size: cover;
}
li{
	color: black;
}
.nav_bar{

	border-bottom:1px soild #000000;
	width: 860px;
	padding: 0px 20px 0px 20px;
	height:64px;
}
.nav_bar ul{
	padding:0;
	list-style:none;
}
.nav_bar ul li{
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}
.nav_bar ul li a{
	text-decoration: none;
	color: #000000;
	background:yellow;
	border: 1px solid;
	border-bottom:none;

}
p{
	color: yellow;
}
li{
	color:yellow;
}
)_ no-repeat center center fixed;
  background-size: cover;
}
li{
	color: black;
}
.nav_bar{

	border-bottom:1px soild #000000;
	width: 860px;
	padding: 0px 20px 0px 20px;
	height:64px;
}
.nav_bar ul{
	padding:0;
	list-style:none;
}
.nav_bar ul li{
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}
.nav_bar ul li a{
	text-decoration: none;
	color: #000000;
	background:yellow;
	border: 1px solid;
	border-bottom:none;

}
p{
	color:black;
}
li{
	color:yellow;
}
